-- 菜单SQL
SET @menu_id= (SELECT id FROM sys_menu ORDER BY id DESC LIMIT 1);

INSERT INTO `zzjr_tourism_admin`.`sys_menu`
(`id`, `parent_id`, `name`, `level`, `sort_no`, `component`,`menu_page`, `path`, `icon`, `redirect`, `desc`,
`is_hidden`, `is_offline`, `is_deleted`, `ext`, `created_by`, `created_at`, `last_modified_by`,
`last_modified_at`, `version`)
VALUES ((select @menu_id+1),'1174239298204012545', '${comments}管理', '2', '2', 'views/business/${moduleName}/${pathName}/list',
'views/business/${moduleName}/${pathName}/list', '${pathName}', 'list@svg', '', '', '0', '0', '0', NULL, '${author}', now(), '${author}', now(), '0');

INSERT INTO `zzjr_tourism_admin`.`sys_menu`
(`id`, `parent_id`, `name`, `level`, `sort_no`, `component`,`menu_page`, `path`, `icon`, `redirect`, `desc`,
`is_hidden`, `is_offline`, `is_deleted`, `ext`, `created_by`, `created_at`, `last_modified_by`,
`last_modified_at`, `version`)
VALUES ((select @menu_id+2),'1174239298204012545', '${comments}管理', '2', '2', 'views/business/${moduleName}/${pathName}/edit',
'views/business/${moduleName}/${pathName}/edit', '${pathName}/edit', 'list@svg', '', '', '1', '0', '0', NULL, '${author}', now(), '${author}', now(), '0');


SET @func_id= (SELECT id FROM sys_function ORDER BY id DESC LIMIT 1);
-- 菜单对应按钮SQL

INSERT INTO `zzjr_tourism_admin`.`sys_function` ( `id`,`menu_id`,
`menu_name`, `name`, `sort_no`, `method`, `url`, `desc`, `is_offline`, `is_regex`,
`is_authenticated`, `is_deleted`, `ext`, `created_by`, `created_at`, `last_modified_by`,
`last_modified_at`, `version`) VALUES ((SELECT @func_id+1),(SELECT @menu_id+1), '${comments}管理', '搜索', '0', 'GET',
'/${moduleName}/${pathName}', '', '0', NULL, NULL, '0', NULL, '${author}', now(), '${author}', now(), '0');

INSERT INTO `zzjr_tourism_admin`.`sys_function`
(  `id`,`menu_id`, `menu_name`, `name`, `sort_no`, `method`, `url`, `desc`, `is_offline`,
`is_regex`, `is_authenticated`, `is_deleted`, `ext`, `created_by`, `created_at`,
`last_modified_by`, `last_modified_at`, `version`) VALUES
((SELECT @func_id+2),(SELECT @menu_id+1), '${comments}管理', '单条查询', '0', 'GET', '/${moduleName}/${pathName}/\\d+',
'', '0', NULL, NULL, '0', NULL, '${author}', now(), 'xieze', now(), '0');

INSERT INTO `zzjr_tourism_admin`.`sys_function` ( `id`,`menu_id`, `menu_name`, `name`,
`sort_no`, `method`, `url`, `desc`, `is_offline`, `is_regex`, `is_authenticated`,
`is_deleted`, `ext`, `created_by`, `created_at`, `last_modified_by`, `last_modified_at`,
`version`) VALUES ( (SELECT @func_id+3),(SELECT @menu_id+1), '${comments}管理', '新增', '0', 'POST', '/${moduleName}/${pathName}/', '', '0', NULL, NULL, '0', NULL,
'${author}',now(), '${author}', now(), '0');

INSERT INTO `zzjr_tourism_admin`.`sys_function` ( `id`,`menu_id`, `menu_name`,
`name`, `sort_no`, `method`, `url`, `desc`, `is_offline`, `is_regex`, `is_authenticated`,
`is_deleted`, `ext`, `created_by`, `created_at`, `last_modified_by`, `last_modified_at`,
`version`) VALUES ( (SELECT @func_id+4),(SELECT @menu_id+1),'${comments}管理', '删除', '0', 'DELETE', '/${moduleName}/${pathName}/\\d+', '',
'0', NULL, NULL, '0', NULL, '${author}',now(), '${author}',now(), '0');


INSERT INTO `zzjr_tourism_admin`.`sys_function` ( `id`,`menu_id`, `menu_name`, `name`, `sort_no`,
`method`, `url`, `desc`, `is_offline`, `is_regex`, `is_authenticated`, `is_deleted`, `ext`,
`created_by`, `created_at`, `last_modified_by`, `last_modified_at`, `version`) VALUES (
(SELECT @func_id+5),(SELECT @menu_id+1), '${comments}管理', '修改', '0', 'PUT', '/${moduleName}/${pathName}/\\d+', '', '0',
NULL, NULL, '0', NULL, '${author}',now(), '${author}', now(), '0');


