package ${packagePath}.service.${packagePath2}.biz.repository.db.${moduleName};


import ${packagePath}.service.${packagePath2}.biz.domain.entity.db.${moduleName}.${className};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * <p>
 *  ${comments}
 * </p>
 *
 * @author ${author}
 * @email ${email}
 * @since ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
