package ${packagePath}.service.${packagePath2}.biz.service.db.${moduleName};

import com.baomidou.mybatisplus.extension.service.IService;
import ${packagePath}.service.${packagePath2}.biz.domain.entity.db.${moduleName}.${className};

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @author ${author}
 * @email ${email}
 * @since ${datetime}
 */
public interface I${className}Service extends IService<${className}> {


}
